<div id="main">
  <div id="landing">
    <div class="cont middle">
      <h1>Játék Taminak</h1>
      <br />
      <button class="pulse-button" (click)="startTaskOne()">Start</button>
    </div>
  </div>
  <div id="task1" hidden>
    <div class="transparency">
      <h1>Játék Taminak</h1>
      <h1>Csillagok: {{ counter }}</h1>
    </div>
    <div id="stars">
      @for (s of stars; track $index) {
      <div
        class="star-container"
        [style]="{ top: s.y + 'px', left: s.x + 'px' }"
        (click)="removeStar(s.id)"
      >
        <span> &#x2605;</span>
      </div>
      }
    </div>
  </div>
  <div id="task2" hidden>
    <h1>Játék <span (click)="win($event)">Taminak</span></h1>
    <h1>Válaszd ki a legszebb csillagot!</h1>
    <div class="choices">
      @for (c of faStars; track $index) {
      <div class="choice" (click)="win($event)">
        <i class="{{ c }}"></i>
      </div>
      }
    </div>
  </div>
  <div id="result" hidden>
    <div class="cont middle">
      @if (won) {
      <h1>
        Te vagy a legszebb, legügyesebb, legokosabb, legjófejebb lány akivel
        valaha találkoztam!
      </h1>
      <br />
      <h1>Nagyon szeretlek Tami!</h1>
      }@else{
        <h1>Nem nyert, próbáld újra</h1>
        <button class="pulse-button" (click)="startTaskOne()">Újra</button>

      }
    </div>
  </div>
</div>
