#main{
  width: 1080px;
  height: 2034px;
  background-image: url('/wallpaper.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
#main img{
  width: 100%;
  height: 100%;
  margin: 0;
}


